h1 {
    background-color: aqua;
    text-align:center;
}
h2 {
    background-color: aqua;
    text-align: center;
}
.imagem1 { width: 50%;
}
p {
    text-align: center;
}
.unicornio {
    background-color: rgb(255, 102, 0)
}
.brilho {
    background-color: rgb(165, 42, 138)
}
.lista { display: inline-block;
         padding: 15%;
         margin-right:25%;
}